<div id="content-area">

	<div class="row">
		<div class="col-md-3 col-md-offset-1" style="margin-top:10px;">
			<div class="col-md-12">
				<div class="profile-wrapper">

					<p class="text-center">
				   	<strong class="user-profile"><%= @user.full_name %></strong>
				  </p>

					<div class="row">
						<div class="col-md-6">
							<p class="lbl">
								POST
							</p>
							<p class="lbl-counter">
								<%= @count %>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="col-md-7" style="margin-top:10px;">
			<div class="col-md-12">
				<input type="hidden" id="user_fullname" value="<%= @user.full_name %>">
				<textarea rows="3" name="newpost" id="newpost" class="wide" placeholder="What's up?"></textarea>
			</div>
			<div class="col-md-12">
					<div class="pullright" style="font-size: 10px;">(Maximum characters: 200) You have <input readonly type="text" id="countdown" name="countdown" size="3" value="200"> characters left.
					</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<button type="submit" name="posted" id="posted" class="btn btn-primary btn-sm">Post</button>
				</div>
			</div>
			<div class="postarea">
				<div class="col-md-12">
				<span id="pl"></span>
					<% if !@user.nil? %>

						<% @user.posts.reverse.each do |p| %>
							<div class="row">
								<div class="col-md-12">
									<div class="post-wrapper">

										<div class="uname">
											<%= @user.full_name %>
										</div>

										<div class="postbody">
										<%=h p.body %>
										</div>

										<div class="dateposted">
											<small><%= p.created_at.strftime("%a %b %m %Y %I:%M:%S %p") %></small>
										</div>

									</div>
								</div>
							</div>
						<% end %>

					<% end %>
				</div>
			</div>
		</div>

	</div>

</div>

<div style="display:none;" id="tmpl">
	<div class="row new-item" style="display:none;">
		<div class="col-md-12">
			<div class="post-wrapper">

				<div class="uname">
					
				</div>

				<div class="postbody">
				
				</div>

				<div class="dateposted">
					
				</div>

			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		$('#newpost').keyup(function(e) {
			var self = $(this);
			if (self.val().length > $('#countdown').val()) {
				self.val( self.val().substring(0, 200) );
			} else {
				$('#countdown').val( 200 - self.val().length );
			}
		});

		$('#posted').click(function(e) {
			if ($('#newpost').val() != "") {

				$('#tmpl .uname').empty().html( $('#user_fullname').val() );
				$('#tmpl .dateposted').empty().html( '<small>' + new Date() + '</small>' );
				var newpost = $.trim($('#newpost').val());
				$('#tmpl .postbody').empty().text( newpost );
				$('.lbl-counter').html( parseInt($('.lbl-counter').html()) + 1 );
				// $('.postarea .col-md-12:first').prepend($('#tmpl').html());

				$('#pl').after($('#tmpl').html());
				var itemNew = $('.postarea .col-md-12:first').find('.row.new-item');
				itemNew.removeAttr("style").removeClass('new-item');

				$('.postarea .col-md-12:first').find('.row.new-item').slideDown("slow");

				$('#newpost').val("");
				$('#countdown').val( 200 );

				$.ajax({
					url: '/newpost',
					method: 'POST',
					data: {
						postbody: newpost
					},
					success: function(resp) {
						console.log(resp);
					}
				});
			}
		});
	});
</script>